
<div class = "items" id = "FlyBy">
                <img src="../Photos/Nike-FlyBy-Mid-2090.jpg" name = "Nike-FlyBy-Mid-2090" onclick="redirect(this.name);">
                <p class = "productname"> <a href="./Product1">{{productName}}</a> </p>
                <p class = "price">{{price}}</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>